@import 'old.scss';
@import 'portfolio.scss';

#main-nav {
    background: white;

    .navbar-brand {
        height: 76px;
        position: relative;
        line-height: 60px;
        padding: 7px 15px;
        display: inline-block;
    }

    .navbar-brand>img {
        max-height: 100%;
    }

    #menu-references-menu {
        #menu-item-61 {
            &>a {
                color: #e96656;
                position: relative;
                outline: none;
            }

            a:before {
                position: absolute;
                margin: auto;
                z-index: 1;
                content: "";
                width: 75%;
                height: 2px;
                background: #e96656;
                bottom: 0px;
                left: 12.5%;
                display: block;
            }
        }
    }
}

.header-content-wrap {
    .buttons {
        .custom-button {
            font-size: 1.5em;
            padding: 5px 1.5em 5px 1.5em;
            border-radius: 4px;
            margin: 10px;
            border: none;
        }
    }
}
